.habbit-card-container {
    box-sizing: border-box;
    width: 300px;
    height: fit-content;
    background-color: var(--car-background-color);
    border-radius: var(--border-radius-container);
    padding: 1rem;
    border: 1px solid var(--border-color);
    transition: all 0.1s ease-in;
    cursor: pointer;
    transform-origin: right;
}

.habbit-card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.habbit-card-container:active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.habbit-name {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.markAsFinished {
    width: 1rem;
    height: 1rem;
}

.activity-status-container {
    height: fit-content;
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habbit-card-container:hover {
    width: calc(600px + 0.5rem);
    height: 200px;
}