.custom-input {
    width: 100%;
}

.custom-input__label {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0.25rem;
    display: block;
}

.custom-input__field-container {
    position: relative;
}

.custom-input__field {
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    transition: border-color 0.2s ease;
    outline: none;
    color: var(--text-color);
    box-sizing: border-box;
    box-shadow: none;
}

.custom-input__field::placeholder {
    color: var(--placeholder-color);
}

.custom-input__field:focus {
    border-color: var(--complimentary-color);
}

.custom-input__error {
    font-size: 0.7rem;
    color: var(--error-color);
    margin: 0;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.error-icon-wrapper {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.error-icon-wrapper svg {
    display: none;
}

.tooltip {
    position: absolute;
    background: #ef44442a;
    color: white;
    border-radius: 0.2rem;
    padding: 0.2rem 0.6rem;
    border: 1px solid var(--error-color);
    font-size: 0.75rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    display: none;
}

.error-icon-wrapper svg:hover~.tooltip {
    display: block;
}