.repeting-todo-container {
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    background-color: var(--card-background-color);
    padding: 0.5rem;
}

.Todo-header {
    box-sizing: border-box;
    aspect-ratio: 1/1;
    width: 100%;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: var(--accent-font-family);

    img {
        width: 100%;
        border-radius: 0.25rem;
    }
}

.todo-contant {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--text-color);
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in;
}

.todo-contant:hover {
    border: 1px solid var(--text-color);
    border-style: dashed;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    // text-decoration: line-through;
}

.add-todo-contant {
    font-size: 0.7rem;
}

.add-icon-container {
    display: inline;
}