.authentication-container {
    padding: 2rem;
    transition: all 0.2s ease-in;
    height: fit-content;
    position: absolute;
    top: 50%;
    border-radius: 0.4rem;
    transform: translate(0, -50%);
    box-shadow: var(--default-shadow);
    border: 1px solid var(--border-color);
}

.authentication-container .header {
    color: var(--text-color);
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

.authentication-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.authentication-button {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.4rem;
}

.authentication-button .signin {
    width: 49%;
    font-size: 0.75rem;
    background-color: var(--natural-color);
    font-weight: 600;
    border-radius: 0.2rem;
    color: var(--secondary-color);
}

.authentication-button .signup {
    width: 49%;
    font-size: 0.75rem;
    background-color: var(--primary-color);
    border: 1px solid var(--natural-color);
    border-radius: 0.2rem;
    color: var(--natural-color);
}

.loading-spinner {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--text-color);
    border-right-color: var(--primary-color);
    border-radius: 50%;
    justify-self: center;
    animation: spinner 3s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-container,
.container-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-group {
    flex-direction: column;
    gap: 0.5rem;
}