.app-container {
  box-sizing: border-box;
  display: flex;
  place-content: center;
  height: 100%;
}

#root {
  height: 100%;
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.app-container,
.content {
  transform-origin: top left;
  display: flex;
  place-content: center;
  width: 1440px;
  overflow: hidden;
}

/* Animation classes */
.fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

.fadeOut {
  animation: fadeOut 1s ease-out forwards;
}

.actions-icon {
  cursor: pointer;
}