@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Rancho&display=swap');

:root {
  --primary-color: #FCF8F5;
  --complimentary-color: #FACB86;
  --secondary-color: #ffffff;
  --accent-font-family: "Rancho";
  --error-color: #ff6b6b;
  --border-color: #dededd;
  --text-color: #555555;
  --placeholder-color: #9ca3af;
  --natural-color: #000000;
  --accent-secondary: #2c84db46;
  --transparent-error: #F4D5CF;
  --default-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border-radius-container: 0.4rem;
  --border-radius-children: 0.2rem;
  --card-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --car-background-color: #FFFDF6;
  --card-background-color: #F3ECE6;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  transform-origin: top left;
  width: 100%;
  display: flex;
  align-items: start !important;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.primary-button {
  width: 300px;
  border-radius: 5px;
}

.secondary-button {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  color: #000000;
  background-color: transparent !important;
  border-radius: 5px;
}